header {
  background-color: rgb(98, 34, 158);
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
  font-weight: normal;
}

.search {
  display: flex;
}

.search input {
  width: 13em;
  margin-right: 5px;
}