header {
  background-color: rgb(98, 34, 158);
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
  font-weight: normal;
}

button {
  border: none;
  background-color: rgb(14, 133, 14);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 35px;
  border-radius: 2px;
}

.search {
  display: flex;
}

.search input {
  width: 13em;
  margin-right: 5px;
}

.map {
  height: calc(100vh - 47px);
  background-color: grey;
}